MEDIA_FOLDER_PATH=Replace this sentence with the path to your media folder (something like C:/Users/Firstname/Photos)
EXCLUDE_EXT=Replace this sentence with a comma-separated list of file extensions that LifeTagger should ignore (always add at least 'txt')