MEDIA_FOLDER_PATH=Replace this sentence with the path to your media folder (something like C:/Users/Firstname/Photos)
BATCH_SIZE=Replace this sentence with the number of items you would like to tag every time the script is run (10 is recommended)
EXCLUDE_EXT=Replace this sentence with a comma-separated list of file extensions that LifeTagger should ignore (always add at least 'txt')