MEDIA_FOLDER_PATH=Replace this sentence with the path to your media folder (something like C:/Users/Firstname/Photos)
BATCH_SIZE=Replace this sentence with the number of items you would like to tag every time the script is run (10 is recommended)
EXIF_TAGS_ONLY=Replace this sentence with "true" if you would like tags to be added only to file EXIF data, not to the file name (otherwise "false" or empty)